{% load static %}
<main>
	<div class="container">
		<div class="column_1">

			<div class="spec-product">
				<a href=""><img src="{% static 'assets/yahiko.jpg' %}"></a>

				<h1 class="amount">2 left</h1>
				<h2>弥彦</h2>
				<h3>Yahiko</h3>

			</div>
			
			<div class="spec-product">
				<a href=""><img src="{% static 'assets/itachi.jpg' %}"></a>

				<div class="sold-out-content">
					<h4 class="sold-out-header">sold out</h4>
					<hr id="first">
					<hr id="second">
					<hr id="third">
					<hr id="fourth">
				</div>

				<h1 class="amount">10 left</h1>
				<h2>イタチ</h2>
				<h3>Itachi</h3>
			</div>

		</div>
		<div class="column_2">

			<div class="japan-text">バカヤロー!<br>コノヤロー!</div>

			<div id="sold-out" class="spec-product">
				<a href=""><img src="{% static 'assets/jiraiya.jpg' %}"></a>

				<div class="sold-out-content">
					<h4 class="sold-out-header">sold out</h4>
					<hr id="first">
					<hr id="second">
					<hr id="third">
					<hr id="fourth">
				</div>

				<h1 class="amount">5 left</h1>
				<h2>自来也</h2>
				<h3>Jiraiya</h3>
			</div>

			<div id="sold-out" class="spec-product">
				<a href=""><img src="{% static 'assets/kakashi.jpg' %}"></a>

				<div class="sold-out-content">
					<h4 class="sold-out-header">sold out</h4>
					<hr id="first">
					<hr id="second">
					<hr id="third">
					<hr id="fourth">
				</div>

				<h1 class="amount">4 left</h1>
				<h2>カカシ</h2>
				<h3>Kakashi</h3>
			</div>

		</div>
	</div>
</main>